if SOC_SERIES_RISCV32_GAP8

config SOC_SERIES
	string
	default "gap8"
config SOC
	string
	default "gap"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 5000000

config RISCV_SOC_CONTEXT_SAVE
	bool
	default y

config RISCV_SOC_INTERRUPT_INIT
	bool
	default y

config RISCV_HAS_CPU_IDLE
	bool
	default y

config INCLUDE_RESET_VECTOR
	bool
	default y

config NUM_IRQS
	int
	default 32

config L2_BASE_ADDRESS
	hex
	default	0x1c000000

config L2_SIZE
	hex
	default 0x80000

config FC_TCDM_BASE_ADDRESS
	hex
	default 0x1b000000

config FC_TCDM_SIZE
	hex
	default 0x4000


endif # SOC_SERIES_RISCV32_GAP8
